{% load staticfiles %}
<html>
<head>

    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{%  static 'css/bootstrap.min.css' %}" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!NAVIGATION!>
    <nav class="navbar navbar-success">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">HOME</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ddd <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">x</a></li>
                            <li><a href="#">y</a></li>

                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">join<span class="caret"></span></a>

                            {% if user.is_anonymous %}
                                <ul class="dropdown-menu">
                                <li><a href=" {% url 'register_user' %}">sign up</a></li>
                                <li><a href=" {% url 'login' %}">sign in</a></li>
                            {%else%}
                                <ul class="dropdown-menu">
                                <li><a href=" {% url 'logout' %}">sign out</a></li>


                            {%endif%}

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>



</head>
<title>WELCOME</title>
<body background="{%  static 'background2.jpeg' %}">

    {% if user.is_anonymous %}
        NOTHING HERE :(
    {% else%}
        <div class="col-md-6 col-md-offset-5" style="padding-top: 10">
            <a href="{% url 'add_chocolate' %}">
            <button type="button" class="btn btn-warning">ADD CHOCLATE</button></a>
        </div>
    {%endif%}






<div class="col-md-6 col-md-offset-4">
    <p></p>
    <p></p>



        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>

    <table class="table table-condensed">
 <thead>
 <tr>
     <td style="color: white">
         <b>Name</b>
     </td>
 <td style="color: white">
     <b>Description</b>
 </td>
 <td style="color: white">
     <b>Price</b>
 </td>
 </tr>
 <tbody>
<tr>
  {{  object_list }}
{%  for item in object_list %}
   <tr>
   <a style="color:#ffffff">
  <td style="color: white">  Name : {{ item.name}}</td>
   <td style="color: white">Description : {{  item.description }}</td>
   <td style="color: white">Price : {{  item.price }}</td>
   </tr>
{% endfor %}


</body>
</html>