{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="nav navbar-nav navbar-right" id="home_nav">
                {% if user.is_anonymous %}
                    <li><button type="button" data-toggle="modal" data-target="#login-modal" class="btn-new btn-ghost btn-nav" >Login </button></li>
                    <li><a href="{% url 'register_user' %}" class="btn-new btn-nav btn-white" id="signup_btn" style="padding: 5px; display:table;">Sign Up</a></li>
                  {% else %}
                    <li>
                    <div class="btn-group">
                      <a class="btn-new btn-nav btn-white" data-toggle="dropdown"><i class="fa fa-user fa-fw"></i>
                        {% if request.user.user_first_name %}
                          {{ request.user.user_first_name }}
                          {% elif request.user.username %}
                          {{ request.user.username }}
                          {% else %}
                          {{ request.user.email }}
                        {% endif %}
                          <span class="fa fa-caret-down"></span>
                        </a>
 <ul class="dropdown-menu">
                            <li class="{% if request.resolver_match.url_name == 'user_profile' %}active{% endif %}">
                            <a href="{% url 'user_profile' %}">
                                <i class='fa fa-user fa-fw' style='color:#F14700'></i> My Profile </a>
                            </li>
                          <li class="{% if request.resolver_match.url_name == 'password_change' %}active{% endif %}">
                          <a href="{% url 'password_change' %}">
                              <i class='fa fa-lock fa-fw' style='color:#F14700'></i> Change Password </a>
                          </li>
                            <li class="divider"></li>
                          <li>
                          <a href="{% url 'logout' %}">
                                  <i class='fa fa-power-off fa-fw' style='color:red'></i> Logout
                              </a>
                          </li>
                          </ul>
                </div>
              </li>
                  {% endif %}
                        </ul>
</body>
</html>